@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bgAppear {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.65);
  }
}

.root {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  animation-name: bgAppear;

  .body {
    opacity: 0;
    animation-name: appear;
  }

  &,
  .body {
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
}
