{
  "singleQuote": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^react$", "^@ui/.+$", "^.+$"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": false,
  "importOrderCaseInsensitive": false,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "printWidth": 100
}
