{
  "singleQuote": true,
  "importOrder": ["^react$", "^@coreui/.+$", "<THIRD_PARTY_MODULES>", "^.+$"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": false,
  "importOrderCaseInsensitive": false,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "printWidth": 100
}
