{
  "singleQuote": true,
  "importOrder": ["^react$", "^@ui/.+$", "<THIRD_PARTY_MODULES>", "^.+$"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": false,
  "importOrderCaseInsensitive": false,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
