.button {
    // commmon styles
    all: initial;
    position: relative;
    cursor: pointer;
    border-radius: var(--t-radius-sm);
    outline: none !important;   
    background: none;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--t-font-button);
    font-size: .85rem;
    font-weight: 500;
    padding: var(--t-spacing-md);

    &:disabled {
        cursor: not-allowed;
    }

    & > :not(:first-child) {
        margin-left: var(--t-spacing-md);
    }
}

.link {
    color: var(--t-primary);
    &:hover {
        color: var(--t-color);
    }

    &:active {
        outline: 1px solid var(--t-color);
    }
}

.text {
    color: var(--button-main-color);
    &:hover {
        color: var(--button-main-color-2);
    }
    &:active {
        color: var(--button-main-color);
    }
}

.outline {
    --button-main-color: var(--t-neutral-1);
    --button-main-color-2: var(--t-neutral-3);

    border: 2px solid currentColor;
    border-radius: var(--t-radius-sm);
    color: var(--button-main-color);
    transition: box-shadow var(--t-transition-sm);

    &:hover {
        color: var(--button-main-color-2);
    }

    &:active {
        color: var(--button-main-color);
        box-shadow: 0 0 0 1px currentColor;
    }
}

.default {
    border: 1px solid var(--t-neutral-8);
    background-color: var(--t-paper);
    transition: box-shadow var(--t-transition-sm);

    &:hover {
        border-color: var(--t-neutral-4);
        color: var(--t-color-2);
    }

    &:active {
        color: var(--t-color);
        border-color: var(--t-neutral-3);
        box-shadow: 0 0 0 1px var(--t-neutral-3);
    }
}

.colored {
    // default slightly rounded button with color
    border: none;
    background-color: var(--button-main-color);
    color: var(--button-fg-color) !important;
    transition: background-color var(--t-transition-sm);

    &:hover {
        background-color: var(--button-main-color-2);
    }

    &:active {
        background-color: var(--button-main-color-3);
        box-shadow: none;
    }

    &:disabled {
        background-color: var(--t-neutral-6);
        color: var(--t-neutral-3);
    }
}

.loading {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        color: var(--button-fg-color);
    }
}