.section {
  background-color: var(--t-paper);
  border: 1px solid var(--t-neutral-9);
  border-radius: var(--t-radius-md);
}

.header {
  padding: 0 1em;
  border-bottom: 1px solid var(--t-neutral-9);
}

.body {
  &.padded {
    padding: 0.8em 1em 1em 1em;
  }
}
