.section {
  background-color: var(--t-paper);
  border-radius: var(--t-radius-md);
  margin-block-end: var(--t-spacing-md);
  box-shadow: 0 3px 6px var(--t-neutral-8);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'h h'
    'b a';
}

.header {
  grid-area: h;
  padding: 0 1em;
  border-bottom: 2px solid var(--t-neutral-8);

  padding: var(--t-spacing-md);
}

.body {
  grid-area: b;
  &.padded {
    padding: 0.8em 1em 1em 1em;
  }
}

.aside {
  min-width: 250px;
  grid-area: a;
  padding: var(--t-spacing-md) var(--t-spacing-xl) var(--t-spacing-sm) var(--t-spacing-xl);
  border-left: 1px solid var(--t-neutral-9);
  background-color: var(--t-neutral-9);
}
