.header {
  font-family: var(--t-font-headers);
  align-items: center;
  font-size: 0.7em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--t-color-3);
  padding: var(--t-spacing-md) 0;
}
