.root {
  padding: var(--t-spacing-xl);
  display: flex;
  align-items: flex-start;
}

.shruggie {
  user-select: none;
  font-weight: bold;
  font-family: monospace;
  font-size: 2.5rem;
  margin-right: var(--t-spacing-lg);
  color: var(--t-color-2);

  @keyframes rainbow {
    0% { background-color: red; }
    14.2857143% { background-color: orange; }
    28.5714286% { background-color: yellow; }
    42.8571429% { background-color: #0f0; }
    57.1428572% { background-color: cyan; }
    71.4285715% { background-color: blue; }
    85.7142858% { background-color: violet; }
    100% { background-color: red; }
  }

  &:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow ease-in 20s;
  }
}

.body {
  border-left: 1px solid var(--t-neutral-8);
  padding-left: var(--t-spacing-xl);
  & > h4 {
    margin: 0 0 var(--t-spacing-md) 0;
  }
}