.raw {
  margin: 0;
  padding: var(--t-spacing-md) var(--t-spacing-lg);
  font-family: 'Jetbrains Mono', monospace;
  overflow-x: auto;
  max-height: 700px;

  &.withExtra {
    .log {
      border-bottom: 1px solid var(--t-neutral-7);

      .extra {
        padding-right: 0.5em;
        display: inline-block;
        height: 100%;
      }

      pre {
        display: inline-block;
      }
    }
  }
}

.body {
  font-family: 'Jetbrains Mono', monospace;
}

.tag {
  padding: 2px;
  border-radius: 4px;

  &.info {
    color: blue;
  }

  &.fatal,
  &.error {
    color: red;
  }

  &.warning {
    color: rgb(217, 184, 0);
  }
}

.log {
  display: flex;

  &:hover {
    background-color: var(--t-highlight);
  }

  &.error {
    color: red;
  }
}
