.error {
  background-color: var(--t-danger-50);
  padding: 1.5rem;
  margin: var(--t-spacing-sm);
  border-radius: 0.5em;
  display: flex;
  gap: 1rem;

  .header {
    font-family: var(--t-font-headers);
    display: block;
    font-weight: 500;
    color: var(--t-danger);
  }
}
