.tab {
  padding: var(--t-spacing-md);
  cursor: pointer;
  position: relative;
  top: 1px;
  user-select: none;
  transition: border-color var(--t-transition-sm);
  border-bottom: 3px solid transparent;
  display: flex;
  justify-content: center;

  &:hover {
    color: var(--t-color-3);
  }

  &:active {
    background-color: var(--t-highlight);
    color: var(--t-primary);
  }

  &.selected {
    font-weight: bold;
    border-color: currentColor;
  }
}
