.root {
  padding: var(--t-spacing-md);
  font-family: var(--t-font-headers);
  color: var(--t-color-2);
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--t-highlight);
  }

  .leave {
    margin-left: auto;
  }

  .loggedIn {
    a:hover {
      border-bottom: 3px solid var(--t-color);
    }
  }
}
