.root {
  overflow: hidden;
  border-radius: var(--t-radius-md);
  transition: var(--t-transition-sm);

  & > .header {
    cursor: pointer;
    padding: var(--t-spacing-md);

    &:hover {
      background-color: var(--t-neutral-9);
    }

    & > h3 {
      user-select: none;
      font-size: 1.3em;
      margin: 0;
      & > .appName {
        color: var(--t-color-2);
      }
    }
  }

  &.expanded {
    & > .body {
      display: block;
    }

    box-shadow: 0 2px 4px var(--t-neutral-7);
  }
}

.id {
  font-size: 0.8em;
  color: var(--t-color-3);
}

.body {
  padding: var(--t-spacing-md);
  display: none;
}

.buttons {
  display: flex;
  justify-content: end;
}
