.root {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 0.8em;
  padding: var(--t-spacing-md) 0;
}

.head {
  .label {
    padding: 0 var(--t-spacing-sm);
    font-weight: 500;
    font-size: 1em;
    font-family: var(--t-font-headers);
  }

  span {
    font-size: 0.9em;
    color: var(--t-color-2);
  }
}

.body {
  display: block;
}
