@import '_common';

.wrapper {
  --input-color: var(--t-primary);
  position: relative;
}

.input {
  --input-color: var(--t-primary);
  @include defaultInput();
}

.invalid {
  --input-color: var(--t-danger);
}

.minimal {
  @include minimalInput();
}

.flushed {
  border-radius: var(--t-radius-sm) var(--t-radius-sm) 0 0;
  background-color: var(--t-neutral-9);
  border-width: 0 0 1px 0;
}
