.layout {
  width: 100%;
  padding-bottom: var(--t-spacing-md);
}

.label {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--t-color-3);
  display: inline-block;
  position: relative;
  padding: 2px;
  cursor: pointer;
  user-select: none;
  border-radius: var(--t-radius-sm);
  &:active {
    background-color: var(--t-neutral-9);
  }
}

.description {
  font-size: 0.85em;
  color: var(--t-color-2);
  padding: var(--t-spacing-sm);
}

.aside {
  display: flex;

  .header {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: var(--t-spacing-lg) var(--t-spacing-md) 0 0;
  }

  .body {
    flex-basis: 70%;
    flex-grow: 1;
    padding: var(--t-spacing-lg) 0 0 var(--t-spacing-md);
  }

  &.right {
    .header {
      align-items: end;
      text-align: end;
    }
  }
}

.top {
  .header {
    display: flex;

    .label {
      margin: var(--t-spacing-md) var(--t-spacing-md) var(--t-spacing-md) 0;
    }

    .description {
      display: block;
      margin: var(--t-spacing-md) 0;
      border-radius: var(--t-radius-sm);
    }
  }
}

.inline {
  display: inline-flex;
}

.changedDot {
  background-color: var(--t-primary);
  height: 0.6em;
  width: 0.6em;
  margin: 0 0.4em;
  display: inline-block;
  border-radius: 100px;
}

.error {
  color: red;
  font-size: 0.85em;
  display: block;
}
