@import "_common";

.wrapper {
  --input-color: var(--t-primary);
  position: relative;
}

.input {
  --input-color: var(--t-primary);
  @include defaultInput();
}

.invalid {
  --input-color: var(--t-danger);
}

.minimal {
  border-width: 0 0 2px 0;
  border-radius: 0;

  &::after {
    content: " ";
    background-color: var(--input-color);
    height: 1px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transition: transform var(--t-transition-md);
    transform: scaleX(0);
  }
  
  &.focus::after,
  &.invalid::after {
    transform: scaleX(1);
  }
}

.flushed {
  border-radius: var(--t-radius-sm) var(--t-radius-sm) 0 0;
  background-color: var(--t-neutral-9);
  border-width: 0 0 1px 0;
}
