.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: var(--t-spacing-md);
  }

  td {
    &:focus {
      outline: 1px solid;
    }
  }

  tbody,
  thead {
    tr {
      border-bottom: 1px solid var(--t-neutral-8);
    }
  }

  & > thead,
  & > tfoot {
    th {
      font-weight: 400;
      text-align: start;
      line-height: 1.5em;
      cursor: default;
      font-weight: 500;
      color: var(--t-color-2);
      font-family: var(--t-font-headers);
    }
  }

  & > tbody {
  }
}

.minimal {
  tr {
    border: none;
  }
}
