.code {
  color: white;
  background-color: #333;
  padding: var(--t-spacing-md);
  font-family: 'Jetbrains Mono', monospace;
  font-size: 0.8em;
  height: 100%;

  min-height: 150px;
  max-height: 600px;

  pre {
    margin: 0;
  }
}

.viewer {
  border-radius: var(--t-radius-sm);
  overflow: hidden;
}

.error {
  color: var(--t-on-danger);
  background-color: var(--t-danger);
  max-height: 300px;
  overflow: hidden;
  transform: scaleY(1);

  &:empty {
    height: 0;
  }

  & > div:not(:empty) {
    margin: var(--t-spacing-md);
  }
}
