.row {
  height: 5em;

  label {
    color: var(--t-color-3);
    font-size: 0.9em;
    padding: var(--t-spacing-sm);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.deleted {
  display: flex;
  flex-direction: column;
  align-items: center;
}
