.root {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.info {
}

.aside {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.disabled {
  text-transform: uppercase;
  font-variant: all-petite-caps;
  display: inline-block;
  padding: 0.1em 0.4em;
  border-radius: 1000px;
  vertical-align: middle;
  font-size: 1.1rem;

  &.yes {
    color: var(--t-danger-fg);
    background-color: var(--t-danger);
  }

  &.no {
    color: var(--t-on-success);
    background-color: var(--t-success);
  }
}
