.key {
  font-family: var(--t-font-headers);
  font-size: 1em;
  font-weight: 500;

  & > .task {
    font-weight: 300;
    color: var(--t-color-3);
  }
}

.row {
  border-left: 2px solid transparent;

  &.selected {
    border-left-color: var(--t-primary);
  }
  &.highlighted {
    background-color: var(--t-primary-100);
  }
}

.newEvents {
  color: var(--t-color-2);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-variant: small-caps;
}

.newEvent {
  background-color: var(--t-warning-50);
}
